# Configurações do Banco de Dados
# No Prisma 7, usamos o prisma.config.ts para carregar estas variáveis
DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/folio_db"

# API Key do Gemini (Google AI SDK)
GEMINI_API_KEY=""

# Configurações do Servidor
PORT=3001
NODE_ENV="development"
