.slider-dots {
  position: absolute;
  bottom: 40px;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: #d88916; */
}

.dot {
  width: 14px;
  height: 14px;

  border-radius: 999px;

  background: #ead9c3;

  transition: all 0.4s ease;
}

.dot.active {
  width: 48px;
  background: #d88916;
}

@media (max-width: 768px) {
  .slider-dots {
    display: none !important;
  }
}

.hero-section-wrapper {
  position: relative;
  min-height: 1024px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .hero-section-wrapper {
    min-height: auto;
  }
}